*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 165, 162);
}
h2{
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.container{
    height: 800px;
    width: 400px;
    background-color:rgb(19, 18, 18);
    margin-top: 30px;
    grid-row: auto;
}
.email{
    padding: 1rem;
    width: 80%;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 5px;
}
.signup{
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
    color:#ccc;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.btn{
    background-color: rgb(11, 11, 222);
    color: #fff;
    width: 80%;
    height: 32px;
    margin-left: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
input[type="checkbox"],span{
    margin-left: 20px;
    color: #fff;
    margin-top: 30px;
}